/**/
/**/

@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
/* BIG BOLD: font-family: 'Rubik Mono One', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* DEFAULT: font-family: 'Montserrat', sans-serif;*/

:root {
  --default_yellow: #f7b500;
  --yellow: #FFD35C;
  --blue: #8FD5DD;
  --blue: #4DC9E4;
  --pink: #FF96C9;
  --green: #8FDDC3;
  --green: #4DE4B2;
  --purple: #B2A9E9;
  --red: #FF4F4F;
  --orange: #FF793F;
  --lightorange: #FFB052;
  --dark_grey: #4D4D4D;
  --grey: #DBDBDB;
  --grey2: #CDCDCD; /*lil darker*/
  --light_grey1: #F1F1F1;
  --light_grey2: #E1E1E1; /*lil darker*/
}

#big_body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
    /* position: absolute; */
    /* top: 0; */
    /* left: 5vw; */
    /* width: 90vw; */
    /* overflow-x: hidden; */
    font-size: 16px;
}

p{font-size: 1em}
h1{font-size: 1.3em}
h2{font-size: 1.5em}
h3{font-size: 1.8em}
h4{font-size: 2.1em}

/**/
/**/



.main-header-bar{
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #FAFAFA;
	background-color: white;
	border-bottom: none;
}
.yellowtxt{
	color: #f7b500;
}
#inlineTXTabout{
	max-width: 600px;
}
#footerleftdum{
	right: 0;
}
.full-page-spacer{
    position: relative;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0;
    margin: 0;
    padding: 0;
}
.bighello_cont{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#bighello{
    position: relative;
    color: black; 
    padding: 0; 
    margin: 0; 
    font-size: 11em; 
    text-align: center; 
    justify-self: center;
}
.center_text{
    text-align: center;
    padding: 0;
    margin: 0;
}
.under_big_hello{
    font-weight: 500;
}
#see_port_btn{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
}
button{
    color: white;
    background-color: var(--default_yellow);
    outline: none;
    border: none;
    border-radius: 25px;
    padding: 11px 28px;
    font-weight: 600;
    cursor: pointer;
    font-size: 1em;
    transition: background-color .3s;
}
button:hover{
    background-color: black;
}
.center_header{
    position: relative;
    width: 90%;
    height: 350px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 40px;
    /* margin-bottom: 20px; */
}
.center_header_cont{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}
.center_header_cont p{
    margin-top: -20px;
}
.see_resume_btn{
    margin-top: 20px;
}
.arrow_down{
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    font-weight: 800;
}
.arrow_down2{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 90px 0 0 0;
}
#full_portfolio_list_cont{
    position: relative;
    height: auto;
    width: calc(100% - 40px - 40px );
    max-width: calc(1500px - 40px);
    top: -53px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    padding: 50px 20px;
    margin-bottom: 20px;
    background-color: #F6F6F6;
    text-align: center;
}
.small_spacer{
    position: relative;
    width: 100%;
    height: 50px;
    font-size: .9em;
    color: grey;
}
.small_spacer_name{
    position: absolute;
    left: 20px;
    bottom: 5px;
}
.small_spacer_time{
    position: absolute;
    left: 32%;
    bottom: 5px;
}
.small_spacer_tech{
    position: absolute;
    left: 50%;
    bottom: 5px;
}
.small_spacer_link{
    position: absolute;
    right: 20px;
    bottom: 5px;
}
.list_project{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid var(--grey);
    font-size: .9em;
}
.list_project:hover{
    background-color: var(--light_grey1);
}
.list_project_title{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 150px;
    max-width: 28%;
    white-space: nowrap;
    text-align: left;
}
.list_project_time{
    position: absolute;
    left: 32%;
    top: 50%;
    transform: translateY(-50%);
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 15%;
    white-space: nowrap;
}
.list_project_tech{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 42%;
    white-space: nowrap;
}
.list_project_link{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    float: right;
}
.list_project_link svg{
    position: relative;
    margin-top: 4px;
    color: #45BDCD;
    transition: color .4s;
    cursor: pointer;
    margin-left: 15px;
}
.list_project_link svg:hover{
    color: blue;
}
#sort_by{
    position: absolute;
    top: 130px;
    left: 20px;
    font-size: .9em;
}
#filter_by{
    /* position: absolute; */
    /* top: 170px; */
    /* left: 20px; */
    display: inline-block;
    font-size: .9em;
}
#sort_by_choice{
    display: inline-block;
    font-weight: 600;
    padding-right: 10px;
}
#filter_by_choice{
    display: inline-block;
    font-weight: 600;
    padding-right: 10px;
}
.full_projects_sort_by_option{
    display: none;
}
#search_tech{
    border: 2px solid var(--light_grey2);
    border-radius: 5px;
    padding: 8px 12px;
    display: inline-block;
    width: 250px;
    margin: 20px 0px;
}
#search_tech_mimic{
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
}
#form_search_tech{
    display: inline-block;
}
#to_full_port{
    position: absolute; 
    top: -60px; 
    background-color: pink; 
    height: 2px; 
    width: 2px;
    z-index: -10;
    user-select: none;
}

#filter_by_choices{
    display: none;
    position: absolute;
    border-radius: 10px;
    background-color: white;
    z-index: 100;
    padding: 5px 5px;
}
#filter_by_choices div{
    /* border: 1px solid grey; */
    text-align: center;
    position: relative;
    height: 25px;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
}
#filter_by_choices div:hover{
    background-color: var(--light_grey1);
}
#filter_by_choices div p {
    transform: translateY(-60%);
}
#full_projects_filter_by_btn{
    /* position: absolute; */
    /* left: 20px; */
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 4px;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}
#full_projects_filter_by_btn button{
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 4px;
}
#full_projects_filter_by_btn:hover #filter_by_choices {display: block;}
#full_projects_filter_by_btn:hover button {background-color: black;}

#clear_search{
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 4px;
    margin: 0;
    padding: 5px 8px;
    font-size: .9em;
}
.cont2 svg{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#About_me_block{
    position: relative;
    margin-top: -50px;
    height: auto;
    width: 100%;
    background-color: pink;
}
.about_left{
    position: relative;
    left: 0;
    width: 20%;
    height: 100%;
    overflow: hidden;
    float: left;
    display: inline-block;
}
.about_left img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 80%;
    border-radius: 10px;
}
.about_right{
    position: relative;
    right: 0;
    background-color: red;
    width: 80%;
    height: auto;
    overflow: hidden;
    float: right;
    display: inline-block;
}
.abt_txt{
    position: relative;
    line-height: 30px;
    width: 80%;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 50px;
}


@media only screen and (max-width: 1250px) {
    .list_project_title{
        max-width: 25%;
    }
    .list_project_time{
        max-width: 13%;
    }
    .list_project_tech{
        max-width: 37%;
    }
}
@media only screen and (max-width: 800px) {
    .small_spacer_time{
        display: none;
    }
    .list_project_time{
        display: none;
    }
    .small_spacer_tech{
        left: 32%;
    }
    .list_project_tech{
        left: 32%;
        max-width: 50%;
    }
}
@media only screen and (max-width: 700px) {
    .list_project_tech{
        left: 200px;
        max-width: 45%;
    }
    .small_spacer_tech{
        left: 200px;
    }
}
@media only screen and (max-width: 630px) {
    .list_project_tech{
        max-width: 37%;
    }
}
@media only screen and (max-width: 560px) {
    .small_spacer_tech{
        display: none;
    }
    .list_project_tech{
        display: none;
    }
    .list_project_title{
        max-width: 70%;
    }
}
@media only screen and (max-width: 475px) {
    .list_project_title{
        max-width: 60%;
    }
}
@media only screen and (max-width: 360px) {
    .list_project_title{
        max-width: 50%;
        min-width: 0px;
    }
}
@media only screen and (max-width: 315px) {
    .list_project_title{
        max-width: 40%;
    }
}
